.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #6b5d52;
    transition: color 0.3s, box-shadow 0.3s;
    padding: 10px; 
}

.navbar-list li a {
    text-decoration: none;
    color: inherit; 
}

.navbar-list li:hover,
.navbar-list li.active {
    color: #c7a385;
    transform: translateY(-2px); /* Levanta ligeramente el botón */
}

.navbar-list li.active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
