.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: relative; /* Para asegurar que el menú de hamburguesa se superponga */
  }
  
  .logo-image {
    width: 150px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin: 0 15px;
    border-radius: 8px;
  }
  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo sutil al hacer hover */
  }
  

  @media (max-width: 475px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        right: 15px;
        left: 200px;
        background-color: #ffffff;
        flex-direction: column;
        padding: 10px 0;
        gap: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid #af995b;
        border-radius: 10px;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
      }
  
    .nav-links.open {
      display: flex;
      transform: translateY(0);
    }
  
    .menu-icon {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
    }
  
    .menu-icon .bar {
      width: 25px;
      height: 3px;
      background-color: #af995b;
      border-radius: 2px;
    }
  }
  