.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    font-size: 18px;
    font-weight: bold;
    color: #6b5d52;
    padding: 10px; 
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    text-align: center;
}

.navbar-list li a {
    text-decoration: none;
    color: inherit; 
}

.navbar-list li:hover{
    transform: translateY(-2px); /* Levanta ligeramente el botón */
}

.navbar-list li.active {
    color: #af995b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra visible */
    border-bottom: 2px solid #af995b; /* Subrayado distintivo */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}