@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.menu-title {
  font-family: 'Dancing Script', cursive;
  color: #000000;
  font-size: 45px; /* Reducido para mejor visualización en móvil */
  font-weight: 700;
  margin: 0px;
  white-space: nowrap;
}

.hr-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

.logo-image {
  width: 400px;
  margin-top: 0px;
}

.custom-hr {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Ajusta el grosor de la línea */
  background-color: rgb(202, 202, 202); /* Cambia el color */
  width: 25%; /* Cambia el ancho */
  margin: 50px 0; /* Margen superior e inferior */
}

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
  color: #000000;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

/* Ajustes para cartas de productos */
.product-card {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 400px; /* Ancho fijo para el diseño horizontal */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 120px; /* Ajusta el ancho de la imagen para el diseño horizontal */
  height: 100px; /* Ajusta la altura para mantener una proporción rectangular */
  object-fit: contain;
  background-color: #ffffff; /* Fondo claro para áreas vacías */
  margin-right: 15px; /* Espacio entre imagen y contenido */
  border-radius: 4px;
}

/* Contenedor de información del producto */
.product-info {
  flex-direction: column;
  text-align: left;
  width: 50%; /* Asegura que ocupe el ancho restante */
}

.product-name {
  font-size: 1em; /* Ajustado para mejor legibilidad */
  margin: 10px 0;
}

.product-description {
  font-size: 0.8em; /* Reducido para dispositivos móviles */
  color: #666;
}

.product-price {
  font-size: 0.9em; /* Ajustado para mejor legibilidad */
  color: #28a745;
  font-weight: bold;
}

.product-status {
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
}

.product-status.available {
  background-color: #000000;
  color: #155724;
}

.product-status.unavailable {
  background-color: #000000;
  color: #721c24;
}

.error-message {
  color: #ff4d4f;
}



/* Media queries para mayor responsividad */
@media (max-width: 768px) {

  .menu-title {
    font-size: 40px; /* Ajusta el tamaño de la fuente para móviles */
  }

  .logo-image {
    width: 300px;
    margin-top: 0px;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    max-width: 400px; /* Ancho fijo para el diseño horizontal */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }

  .product-image {
    width: 80px; /* Ajusta el ancho de la imagen para el diseño horizontal */
    height: 100px; /* Ajusta la altura para mantener una proporción rectangular */
    object-fit: contain;
    background-color: #ffffff; /* Fondo claro para áreas vacías */
    margin-right: 15px; /* Espacio entre imagen y contenido */
    border-radius: 4px;
  }

  .product-description {
    font-size: 0.8em; /* Reducido para dispositivos móviles */
    color: #666;
  }
}
